
// main pallete
$primary-color: #007bff;
$secondary-color: #6c757d;
$accent-color: #28a745;

// backgrounds
$background-color: #e2e2e2;
$background-color-dark: #1d1d1d;
$surface-color: #1d1d1d;

// text
$text-color: #1d1d1d;
$text-color-dark: #e2e2e2;

$text-secondary-color: #1d1d1d;

.green {
    color: #28a745;
}

.blue {
    color: #007bff;
}