
.terminal {
    display: flex;
    flex-direction: column;
    height: 30vh;

    font-family: 'Roboto Mono', monospace;
    
    padding: $spacing-s;

    background-color: #1d1d1d;
    border: 1px solid #666666;

    border-radius: 16px;

    overflow: hidden;
    overflow-y: scroll;

    .output {
        flex-grow: 1;
        overflow-x: auto;
        overflow-y: auto;
        line-height: 1.6rem;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    
    .input-line {
    display: flex;
    align-items: center;

        .prompt {
            margin-right: 5px;
        }
        
        .input {
            background: none;
            border: none;
            color: inherit;
            font: inherit;
            outline: none;
            flex-grow: 1;
            font-size: inherit;

            caret-color: red;
            position: relative;

            white-space: nowrap;
            overflow-x: auto;
        }

        span {
            white-space: nowrap;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .terminal {
        background-color: #1d1d1d;
        border: 1px solid #666666;
    }
}

@media (prefers-color-scheme: light) {
    .terminal {
        background-color: #ddd;
        border: 1px solid #666666;
    }
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}