
@media (prefers-color-scheme: light) {
    body {
        background-color: $background-color;
        color: $text-color;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $background-color-dark;
        color: $text-color-dark;
    }
}
